@define-color foreground #cdd6f6;
@define-color background #000000;

* {
  /* background-color: @background; */
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Liberation Mono';
  font-size: 12px;
}

window#waybar {
  background: transparent;
  margin-top: 10px;
}

mpris.empty {
  background: transparent;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#backlight, #custom-weather, #mpris, #window,
#cpu,
#custom-idle,
#custom-power,
#battery,
#network,
#custom-todo,
#custom-cava,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  background-color: @background;
  min-width: 12px;

  border-radius: 5px;
  padding: 0 10px;
  margin: 0 0 0 5px;
}

#tray,
#memory {
  min-width: 12px;

  border-radius: 5px;
  padding: 0 10px;
  margin: 0 0 0 5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
  border-radius: 10px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  background-color: @background;

  border-radius: 5px;
  padding: 0 10px 0 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;

  padding: 0 11px 0 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-idle {
  padding-left: 6px;
}

/* EXTRA FIX! */
#workspaces {
  background-color: @background;
  border-radius: 5px;
  margin-left: 5px;
  padding: 0 5px 0 5px;
}

#tray-expander {
  background-color: @background;
  border-radius: 5px;
  padding: 0 0 0 10px;
}

#pulseaudio {
  padding: 0 15px 0 10px;
}

#tray {
  margin: 0;
  /* background-color: @background; */
}

#custom-cava {
  margin-right: 5px;
}

#network.icon {
  padding: 0 13px 0 9px;
}

#battery {
  margin-right: 7px;
}
